
  <!-- header section strats -->
  <header class="header_section">
    <div class="container">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="index.html">
          <span>
            Jem na mieście.pl
          </span>
        </a>
      </nav>
    </div>
  </header>
  <!-- end header section -->

<div class="container">
    <b>Dodaj zdjęcia</b>
    {form}

    <b>Ostatnie zdjęcia</b>
      <div class="row">
          [START pics]
          <div class="col col-4 col-sm-4 col-md-4 col-lg-2">
              <img src="{path}" class="img-thumbnail rounded mb-4" />
              <a href="/admin?flip={id}&direction=horizontal" class="btn btn-info btn-sm m-1">Flip ↔</a>
              <a href="/admin?flip={id}&direction=vertical" class="btn btn-info btn-sm m-1">Flip ↕</a>
              <a href="/admin?deleteID={id}" class="btn btn-danger btn-sm m-1">Delete</a>
          </div>
          [END pics]
      </div>
</div>


