<div class="row">
    <h3>{title}</h3>
    <p>
    {date} ({dayOfWeek})
    </p>
    [START pic]
    <div class="col col-12 col-sm-12 col-md-12 col-lg-6 p-1">
        <a href="{path}" data-lightbox="gallery={postID}">
            <img src="{path}" class="img-fluid rounded" />
        </a>
    </div>
    [END pic]
    <p>
    {text}
    </p>
</div>
<div class="row">
    <div class="col col-12 col-md-9 col-sm-12 col-lg-9 col-xl-9">
        {tags}
        <p>
        {mealQuality}
        </p>
    </div>
    <div class="col col-12 col-md-3 col-sm-12 col-lg-3 col-xl-3">
    <div class="float-end" style="font-size: 45px; opacity: 0.3;">{mealPrice}</div>
    </div>

</div>
