
<div class="col col-12 col-sm-12 col-md-12 col-lg-6 p-1 pb-3 border border-secondary">
    
    
    <div class="row p-2">
    <h5><a href="{postLink}">{title}</a></h5>
    [START pic]
    <div class="col col-6 col-lg-6 p-2 text-center">
        <a href="{postLink}" title="{title}"><img src="{path}" alt="{title}" class="img-fluid rounded" /></a>
    </div>
    [END pic]
    </div>
    <p class="p-2">
    {text}
        <a href="{postLink}" title="{title}">Przeczytaj całą recenzję...</a>
    </p>
</div>
